body{
    font-family: "Delius", cursive;
}
.explorar{
    font-size: 20px;
    font-weight: 10;
    color: #5055df;
}
li { 
    list-style: none;
    color: rgb(255, 252, 254);                              
    margin-right:25px;
}


#primero{
    font-size: 30px; 
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista{

display:flex;

}







.titular{
    text-align: center;
    margin-top: 200px;
    font-weight: 100;
}

h1{
    font-size: 90px;
    margin: 0;
}


h2{
    font-size: 25px;
    margin: 0;
    margin-bottom: 40px;
}



a{
    text-decoration: none;
    font-size: 14px;
    background:#5055df;
    color: rgb(234, 225, 225);
    padding: 20px 50px 20px 50px;
    
}

header {
    background:url(fondo1.jpg);
    height: 100vh;
    background-size:cover ;

}

.contenedor{
   max-width: 1280px;
    width: 90%;
    margin: auto;
}

h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    

}

p{
  font-weight: bold;
}

.contenido-sobremi{
    display: flex;
    justify-content: space-around;
}

.parrafo-boton{
    width: 60%;
}

.parrafo-boton p {
    font-size: 20px;
    margin-bottom: 40px;

}
.parrafo-boton a{
   font-size: 20px;
}
.pfinal{
margin-bottom: 29px;
}

.contenerdo-servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Servicio{
    width: 23%;
    padding:38px ;
    border-radius:10px;
    margin-bottom: 40px;
    color: #fff;
}

.violeta{
  background: #5055df;
}
.celeste {
    background: #40a8fa;
}
/* ICONOS DE SERVICIO*/
.Servicio h4{
    font-size: 30px;
    margin: 0;
}
.Servicio img{ 
    float:right;  

} /*MATENER EL PARRAFO SIN MODIFICAR P DE ICONOS */
.Servicio P {
    font-size: 18px;
    height: 200px;

}
.carousel {
position: absolute;
top: 50px;
left: 50px;
transform: translate(25%, -7%);

}

.elemento{
    position: relative;
    width: 70rem;
    height: 70rem;
    border: 1px dashed #40a8fa;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}